<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="/decorator/imports.html"></head>
<body>
    <div class="container">
        <div th:insert="/decorator/menu.html"></div>
        <nav id="breadcrumb" aria-label="breadcrumb" class="col-md-2">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li id="breadcrumb-ativo" class="breadcrumb-item active" aria-current="page">Extrato</li>
            </ol>
        </nav>

        <div class="col-md-12">
            <div class="row">
                <div id="tabelaExtrato" class="col-md-8">
                    <table id="grid" class="table">
                        <thead id="headGrid" class="thead-light">
                            <tr>
                                <th scope="col"> Data Operação </th>
                                <th scope="col"> Tipo Operação </th>
                                <th scope="col"> Valor Operação </th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div id="container-saldo" class="col-md-4">
                    <h3> Saldo: <span class="positivo" id="saldo">R$ 1</span> </h3>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/js/extrato.js"></script>
</html>