<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Soma - Portal Empresa </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/extrato.css">
</head>
<body>
    <div class="container">
        <nav id="menu-nav" class="navbar">
            <h4 class="col-md-4">Portal Empresa - Soma</h4>
            <div id="butonsLinks" class="col-md-4">
                <button id="btn-extrato" title="Extrato" class="btn btn-light"> Extrato </button>
                <button  id="btn-funcionarios" title="Funcionarios" class="btn btn-light"> Funcionários </button>
            </div>
            <div class="col-md-4">
                <span> Login: Wilton Silva </span>
            </div>
        </nav>

        <nav id="breadcrumb" aria-label="breadcrumb" class="col-md-2">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Extrato</li>
            </ol>
        </nav>

        <div class="col-md-12">
            <div class="row">
                <div id="tabelaExtrato" class="col-md-8">
                    <table id="grid" class="table">
                        <thead id="headGrid" class="thead-light">
                            <tr>
                                <th scope="col"> Data Operação </th>
                                <th scope="col"> Tipo Operação </th>
                                <th scope="col"> Valor Operação </th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-4">
                    <h3> Saldo: <span id="saldo"></span> </h3>
                </div>
            </div>
        </div>

    </div>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script src="/js/extrato.js"></script>
<script src="/js/funcionario.js"></script>
<script src="/js/index.js"></script>
</html>